:root {

  --gray-white: #FFFFFF;
  --gray-black: #272343;
  --dark-gray: #636270;
  --bg-breadcum: #F0F2F3;
  --accents: #029FAE;
  --dark-accents: #007580;
  --off-white: #F0F2F3;
  --warning: #F5813F;
  --success: #01AD5A;
  
}